/* @import url('https://fonts.googleapis.com/css2?family=rubik:400,600,700'); */


* {
  box-sizing: border-box;
}

.inner {
  width: 100%;
  height: 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #3C7E2D;
}

.cardStatus {
  color: #393939;
  width: 160px;
  height: 20px;
  top: 265px;
  left: 370px;
  font-family: Avenir;
  font-size: 15px;
  font-weight: 400px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 22px;

}

.cardCount {
  width: 42px;
  color: #393939;
  height: 48px;
  top: 330px;
  left: 370px;
  font-family: Avenir;
  font-size: 35px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 22px;
  padding-bottom: 17px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 150px;
  left: 348px;
  background-color: white;
  top: 245px;
  border: 1px solid #3c7e2d73;
  border-radius: 5px;
  width: 180px;
  box-shadow: 1px 4px 11px 0px #CEBDE440;
  padding: 10px;
  align-items: center;
  /* margin: 10px;
  padding: 10px; */
}

.created-at{
  color: #727272;
}
.engagement-comments {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  left: 348px;
  background-color: white;
  top: 245px;
  border: 1px solid #3c7e2d73;
  border-radius: 5px;
  width: 100%;
  box-shadow: 1px 4px 11px 0px #CEBDE440;
  padding: 10px;
  align-items: center;
  margin: 10px;
  padding: 20px; 
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  left: 348px;
  background-color: white;
  top: 245px;
  border: 1px solid #3c7e2d73;
  border-radius: 5px 5px 5px 0;
  width: 122px;
  box-shadow: 1px 4px 11px 0px #35353628;
  padding: 10px;
  align-items: center;
  font-size: smaller;
  /* margin: 10px;
  padding: 10px; */
}

.cards-unavailable {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  left: 348px;
  background-color: white;
  top: 245px;
  border: 1px solid #ff000073;
  border-radius: 5px 5px 5px 0;
  width: 122px;
  box-shadow: 1px 4px 11px 0px #35353628;
  padding: 10px;
  align-items: center;
  font-size: smaller;
  /* margin: 10px;
  padding: 10px; */
}


.card-Image {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 348px;
  background-color: white;
  top: 245px;
  border: 1px solid #3c7e2d73;
  border-radius: 5px;
  width: auto;
  box-shadow: 1px 4px 11px 0px #3535363a;
  padding: 16px;
  align-items: center;
  font-size: smaller;
  /* margin: 10px;
  padding: 10px; */
}



.custom-tooltip {
  /* position: absolute; */
  background-color: rgba(255, 255, 255, 0.575);
  color: rgba(0, 128, 0, 0.912);
  padding: 5px; 
  border: 1px solid rgba(144, 143, 143, 0.829);
  pointer-events: none;
}

.stat-card {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: white;
  width: 245px;
  border-radius: 5px;
  box-shadow: 1px 4px 11px 0px #CEBDE440;
  margin-top: 10px;
  padding: 20px;
}

.tiny-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  border: 1px solid #3c7e2d73;
  border-radius: 20px;
  box-shadow: 1px 4px 11px 0px #CEBDE440;
  padding: 7px;
  filter: drop-shadow(1px 4px 11px rgba(108, 24, 164, 0.25));
  /* margin: 10px;
  padding: 10px; */
}

.selected-tiny-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  background-color: #3C7E2D;
  border-radius: 20px;
  box-shadow: 1px 4px 11px 0px #CEBDE440;
  padding: 7px;
  filter: drop-shadow(1px 4px 11px rgba(108, 24, 164, 0.25));
  /* margin: 10px;
  padding: 10px; */
}

.Tablecard {

  height: auto;
  left: 348px;
  background-color: white;
  top: 245px;
  width: 100%;
  border: 1px solid #3c7e2d66;
  border-radius: 5px;
  box-shadow: 1px 4px 11px 0px #3535363a;
  /* margin: 10px;
  padding: 10px; */
}



.Tablecard-head {

  background-color: #3C7E2D;
  ;
  color: white;
  height: 55px;
  left: 348px;
  padding: 8px;
  text-align: left;
  top: 245px;
  width: 100%;
  border: 1px solid #3c7e2d73;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 1px 4px 11px 0px #3535363a;
  /* margin: 10px;
  padding: 10px; */
}



.Tablecard-head th,
.Tablecard-head td {
  border-right: 1px solid #cccccc9c;
  width: 100%;
  padding: 8px;
  height: 55px;
  text-align: left;

}


.innerSearch {
  width: 100%;
  height: 4px;
  top: 500px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #3C7E2D;
}



.inputContainer {
  border-bottom: #393939;
  -ms-flex-align: center;
}


.container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 4px 11px 0px #CEBDE440;

}

.searchcard {
  background-color: white;
  width: 100%;
  height: 64px;
  border-radius: 5px;
  border: 1px solid #3c7e2d73;
  box-shadow: 1px 2px 11px 0px #CEBDE4;
}

.searchtext {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #3C7E2D;
}

.searchinput {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CEBDE4;
  padding: 20px;
  width: 60%;
  height: 40px;
  margin-left: 10px;
}

.dateinput {
  border-top: none;
  border-left: none;
  color: #777;
  border-right: none;
  border-bottom: 1px solid #CEBDE4;
  padding: 20px;
  width: 10%;
  height: 40px;
  margin-top: 10px;
  margin-left: 24px;
}

.search-button {
  background-color: #E8FFDA;
  border: 1px solid #3C7E2D;
  border-radius: 5px;
  color: #3C7E2D;
  padding: 10px 20px;
  width: 10%;
  height: 40px;
  margin-left: 24px;
  cursor: pointer;
}

.dropdown-input {
  width: 100%;
  height: 36px;
  color: #777;
  position: relative;
  transition: all 0.3s ease-out;
}


.dropdown-input select {
  width: 100%;
  height: 100%;
  color: #777;
  border: 1px solid #3c7e2d73;
  border-radius: 4px;
  background-color: white;

}

.input {
  width: 100%;
  height: 100%;
  color: #303030;
  border: 1px solid #3c7e2d73;
  border-radius: 4px;
  background-color: white;
  justify-content: center;
  align-items: center;

}

input {
 
  color: #303030 !important;

}


.status-btn {
  background-color: white;
  width: 20%;
  height: 40px;

  transition: all 0.3s ease-out;
  color: #3C7E2D;
  box-shadow: 1px 4px 11px 0px #CEBDE440;
  border-radius: 4px;
  border: 1px solid #3c7e2d73;
  cursor: pointer;
}

.status-btn:hover {
  background-color: #1C811C88;
  color: white;
}

.status-btn:active {
  background-color: #3C7E2D;
  color: white;
  transform: translateY(2px);
}


.upload-btn {
  width: 100%;
  text-align: start;
  padding-left: 24px;
  color: white;
  /* background: url('upload.svg') no-repeat center center; */
  background-size: 20px 20px;
  background-position: bottom 50% right 20px;
  box-shadow: 1px 4px 11px 0px #CEBDE440;
  background-color: #3C7E2D;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 50px;
  border: 1px solid #3c7e2d73;
}

.upload-btn:hover {
  background-color: #1C811C88;
}

.upload-btn:active {
  background-color: #3C7E2D;
  transform: translateY(2px);
}

.collapse-btn {
  width: 188px;
  color: #3C7E2D;
  background-color: #9AE28A;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #3c7e2d73;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.secondary-btn {
  border-radius: 4px;
  border: 1px solid #3c7e2d73;
  background: #E8FFDA;
  box-shadow: 1px 4px 11px 0px rgba(206, 189, 228, 0.25);
  height: 55px;
}

.collapse-btn:active {
  color: white;
  background-color: #3C7E2D;
  transform: translateY(2px);
}

.comment-btn {
  width: 206px;
  color: #3C7E2D;
  background-color: #E8FFDA;
  padding: 8px;
  align-content: center;
  height: 40px;
  border: 1px solid #3c7e2d73;
  transition: all 0.3s ease-out;
}

.comments-btn {
  width: 206px;
  color: #3C7E2D;
  background-color: #E8FFDA;
  padding: 8px;
  align-content: center;
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #3c7e2d73;
  border-top: none;
  transition: all 0.3s ease-out;
}

.password-input-container {
  position: relative;
  display: inline-block;
}

.password-toggle-btn {
  position: absolute;
  right: 5px;
  top: 68%;
  align-items: center;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: green;
  cursor: pointer;
}

.password-toggle-btn .fa {
  font-size: 16px;
}

.add-note {
  width: auto; 
  color: #393939;
  background-color: #FFEAEA;
  padding: 8px;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px; 
  cursor: pointer;
  border-radius: 24px;
  border: 1px solid #FF0000;
  font-size: 9px;
  display: inline-block; 
  text-align: center; 
}


.findings {
  width: 100%;
  color: #17621A;
  background-color: #E8FFDA;
  padding: 10px 20px 10px 20px;
  height: 40px;
  border: 1px solid #3c7e2d73;
  border-radius: 6px 6px 0px 0px;
  transition: all 0.3s ease-out;
}

.css-13cymwt-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-content: center !important;
  cursor: default;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: #3c7e2d73 !important;
  border-radius: 0px 4px 4px 0px !important;
  border-style: solid;
  border-width: 1px;
  /* border-left: none !important; */
  box-sizing: border-box;
}


.comment-btn:active {
  color: white;
  background-color: #3C7E2D;
  transform: translateY(2px);
}

.collapse-banner {
  width: 100%;
  background-color: #E8FFDA;
  height: 60px;
  text-align: center;
  padding: 10px;
  border: 1px solid #3c7e2d73;

}

.reviewer-card {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #3c7e2d73;
  box-shadow: 1px 2px 11px 0px #CEBDE4;
}

.reviewer-table {
  width: 100%;
  border-collapse: collapse;
}

.reviewer-table th {
  border-top: 1px solid #3c7e2d73;
  border-bottom: 1px solid #3c7e2d73;
  color: #4D4F5B;
  background-color: #E8FFDA;
  margin-bottom: 11px;
  padding: 8px;
  height: 55px;
  text-align: left;

}

.reviewer-table td {
  border-bottom: 1px solid #cccccc9c;
  padding: 20px;
  height: auto;
  text-align: left;
  width: auto;


}


.submit-btn {
  width: 100%;
  color: white;
  background-color: #3c7e2d;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  border: 1px solid #3c7e2d73;
}

.submit-btn:hover {
  background-color: #1C811C88;
}

.submit-btn:active {
  background-color: #3C7E2D;
  transform: translateY(2px);
}

.delete-btn {
  width: 100%;
  color: #d21d1d;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border: 1px solid #7e2d2d73;
  border-radius: 5px;
}

.delete-btn:hover {
  color: #fff;
  background-color: #ff3838;


}

.delete-btn:active {
  background-color: #d21d1d;
  transform: translateY(2px);
}


.save-drafts {
  width: 100%;
  color: #3C7E2D;
  background-color: #E8FFDA;
  height: 40px;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  border: 1px solid #3c7e2d73;
  cursor: pointer;
}

.facility-edit {
  width: 36px;
  color: #3C7E2D;
  background-color: #E8FFDA;
  height: 36px;
  text-align: center;
  margin-top: 5px;
  padding: 10px;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  border: 1px solid #3c7e2d73;
  cursor: pointer;
}

.save-drafts:hover {
  background-color: #1C811C88;
  color: white;
}

.save-drafts:active {
  background-color: #3C7E2D;
  transform: translateY(2px);
  color: white;
}

.card img {
  max-width: 100%;
}

.card h2 {
  font-size: 1.5rem;
}

.card p {
  font-size: 1rem;
}



.bordered-table th {
  border: 1px solid #cccccc9c;
  color: white;
  background-color: #3C7E2D;
  margin-bottom: 11px;

  padding: 8px;
  height: 50px;
  text-align: left;

}

/* .bordered-table-inner th {
  border: 1px solid #cccccc9c;
  color: white;
  background-color: #3C7E2D;
  margin-bottom: 11px;

  padding: 8px;
  height: 50px;
  text-align: left;

} */



 /* .bordered-table-inner td {
  padding: 8px;
  height: 50px;
  text-align: left;
  width: auto;
} */

.bordered-table th:last-child {
  padding: 8px;
  height: 50px;
  text-align: center;
  border-radius: 0px 6px 0px 0px;
  width: auto;
} 

.bordered-table th:first-child {
  padding: 8px;
  height: 50px;
  text-align: center;
  border-radius: 6px 0px 0px 0px;
  width: auto;
} 


.cardUpload {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #3c7e2d;
  color: white;
  height: 32px;
  width: 120px;
  border: 1px solid #3c7e2d73;
  border-radius: 16px;
  box-shadow: 1px 4px 11px 0px #CEBDE440;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-align: center; 
}

.cardUpload:hover {
  background-color:#1C811C88;
  color: white;
}
.cardUpload:active {
  background-color:#3C7E2D;
  color: white;
  transform: translateY(2px);
}
.bordered-table td {
  border: 1px solid #cccccc9c;
  padding: 8px;
  height: 50px;
  text-align: center;
  width: auto;
}

.bordered-table td:last-child {
  border: 1px solid #cccccc9c;
  padding: 8px;
  height: 50px;
  text-align: center;
  width: auto;
}

.slim-b {
  height: 30px;
}

.input-field {
  width: 100%;
  height: 40px;
  top: -99px;
  left: -300px;
  border-radius: 4px;
  border: 1px solid #3c7e2d73;
  box-shadow: 1px 4px 11px 0px #CEBDE440;
}

.clickable-row {
  cursor: pointer;
  transition: white 0.3s ease, transform 0.3s ease;

}

.clickable-row:hover {
  background-color: #E8FFDA;
}

.text-area-input-field {
  width: 100%;
  height: 120px;
  top: 181px;
  left: -300px;
  border-radius: 4px;
  border: 1px solid #3c7e2d73;
  box-shadow: 1px 4px 11px 0px #CEBDE440;
}

.bordered-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 1px 4px 11px 0px #3535363a;

}

.bordered-table-inner {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.no-bordered-table {
  width: 100%;
  border: none;
}

.no-bordered-table thead {
  border: 1px solid #3c7e2d73;
}

.no-bordered-table th {
  border: none;
  color: #4D4F5B;
  /* border: 1px solid #3C7E2D; */
  background: #E8FFDA;
  margin-bottom: 11px;
  padding: 8px;
  height: 50px;
  text-align: left;

}

.no-bordered-table td {
  border: none;
  padding: 8px;
  height: 50px;
  text-align: center;
  width: auto;
}

.no-bordered-table td:last-child {
  border: none;
  padding: 8px;
  height: 50px;
  /* text-align: center; */
  width: auto;
}

.border-top-none {
  border-top: none;
}

.coin {
  width: 100px;
  height: 100px;
  /* background: url('coin.png') no-repeat center center; */
  background-size: cover;
  animation: spin 2s linear infinite;
}

.coin.animate {
  animation-play-state: running;
}

.coin:not(.animate) {
  animation-play-state: paused;
}

/* .bordered-table th {
  background-color: #f2f2f2;
} */
.dashboard-container {
  max-width: 800px;
  /* Set a maximum width for the container */
  margin: 0 auto;
  /* Center the container horizontally */
  padding: 20px;
  /* Add padding for spacing around the card */
}


body {
  margin: 0;
  font-size: 0.9rem;
  overflow-x: hidden;
  color: #393939;
  background-color: #fff;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
header,
section {
  margin: 0;
  
}



input {
  border: none;
  outline: none;
  padding: 8px;
  height: -webkit-fill-available;
}

textarea {
  outline-color: #3C7E2D;
  ;
}

section {
  width: 100%;
  margin: 0;
}

.p-r {
  position: relative !important;
}

.no-padding {
  padding: 0 !important;
}

.p-10 {
  padding: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-t-2 {
  padding-top: 2px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.no-p-r {
  padding-right: 0px !important;
}

.no-p-l {
  padding-left: 0px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.no-margin {
  margin: 0 !important;
}

.m-10 {
  margin: 10px;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}
.m-l-30 {
  margin-left: 30px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.m-l-60 {
  margin-left: 60px !important;
}

.m-l-80 {
  margin-left: 80px !important;
}

.m-l-100 {
  margin-left: 100px !important;
}

.m-l-140 {
  margin-left: 140px !important;
}
.m-l-160 {
  margin-left: 160px !important;
}

.m-l-200 {
  margin-left: 200px !important;
}
.m-l-220 {
  margin-left: 220px !important;
}
.m-l-240 {
  margin-left: 240px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-30 {
  margin-right: 29px !important;
}

.m-r-80 {
  margin-right: 80px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t--20 {
  margin-top: -20px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.m-t-80 {
  margin-top: 80px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-b-80 {
  margin-bottom: 80px !important;
}

.no-border {
  border: none !important;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.wrap {
  flex-wrap: wrap !important;
}

.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column;
  margin-bottom: 20px;
}

.flex-h-center {
  justify-content: center !important;
}

.flex-h-end {
  justify-content: end !important;
}


.flex-v-center {
  align-items: center !important;
}

.flex-v-end {
  align-items: end !important;
}

.pointer {
  cursor: pointer !important;
}

.underline {
  text-decoration: underline !important;
}

.center-text {
  text-align: center !important;
}

.right-text {
  text-align: right !important;
}

.space-between {
  justify-content: space-between !important;
}

.float-right {
  float: right !important;
}


.inline-block {
  display: inline-block !important;
}

.bold-text {
  font-weight: bold !important;
  color: #3b3b3b !important;
}

.max-w-400 {
  max-width: 400px !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-half,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: inline-block;
  /* position: relative; */
  padding-right: 10px;
  /* padding-left: 10px; */
  margin-bottom: 20px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-3-3 {
  width: 30%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.65%;
}

.col-6,
.col-half {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.63%;
}

.col-12,
.w-100 {
  width: 100% !important;
  /* position: relative; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  position: relative;
  margin-right: -10px;
  margin-left: -10px;
}

.content {
  /* max-width: 1300px; */
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
}

footer {
  position: relative;
  background-color: #454545;
  color: #ddd;
  height: 58px;
}

div.banner {
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg-login.png');
  background-color: #1C811C55;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


div.banner .login {
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  padding: 40px;
  position: unset;
  background-color: #ffffff;
}

.log {
  margin: 0 auto;
  max-width: 600px;
  height: 750px;
  padding: 100px;
  position: unset;
  background-color: #FDFFEE;

}

div.login .coat-of-arm img {
  width: 140px;
  height: auto;
}

div.login .coat-of-arm h2 {
  font-size: 1.58rem;
  font-family: sans-serif;
  line-height: 1.5rem;
  font-weight: 700;
}

div.login .coat-of-arm h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

div.login .form {
  padding-left: 40px;
  width: 100%;
  text-align: center;
}

.login-form-group {
  width: 100%;
  margin-bottom: 20px;
}

.login-form-group {
  width: 100%;
  margin-bottom: 15px;
}

.login-form-group input {
  width: 100%;
  padding: 13px;
  border: 1px solid #C6C6C6;
  border-radius: 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: .9rem;
  color: #777;
}



div.login .form button {
  width: 100%;
  color: #fff;
  padding: 13px;
  background-color: #017D34;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: all 0.3s ease-out;
}

div.login .form button:hover {
  background-color: #017D3488;
}

.intro {
  max-width: 800px;
  margin: 30px auto 10px;
}

div.dept-news {
  background-color: #FFFFFF;
  box-shadow: 5px 3px 22px #958E8E29;
  border: 1px solid #C6C6C6;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

div.dept-news h4 {
  background-color: #1C811C;
  color: #ffffff;
  padding: 5px 10px 2px;
  display: inline-block;
  position: relative;
  right: 20px;
}

.headline {
  align-items: center;
  border-bottom: 1px solid #C6C6C6;
  padding-bottom: 20px;
}

.headline:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.headline .date {
  background-color: #1C811C1F;
  padding: 5px 10px;
  text-align: center;
}

.headline .date .m {
  font-size: 0.7rem;
}

.headline .date .d {
  font-size: 1.4rem;
}

.headline .title {
  margin-left: 10px;
}

div.bottom {
  border-left: 1px solid #C6C6C6;
  padding: 0 20px;
}

div.bottom h2 {
  color: #1C811C;
  font-family: sans-serif;
  margin-bottom: 20px;
}

div.bottom ol {
  padding-left: 20px;
}

div.bottom ul {
  padding: 0;
  list-style: none;
}

@media only screen and (max-width: 900px) {

  .col-8,
  .col-7,
  .col-6 {
    width: 100%;
    flex: 1 0 100%;
  }

  .col-5,
  .col-4,
  .col-3 {
    width: 50%;
    flex: 1 0 50%;
  }
}

@media only screen and (max-width: 600px) {

  .col-5,
  .col-4,
  .col-3 {
    width: 100%;
    flex: 1 0 100%;
  }

  div.banner {
    padding-top: 60px;
  }

  div.login {
    display: block;
    margin: 20px !important;
  }

  div.login .coat-of-arm {
    border-right: none;
    padding-bottom: 20px;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }

  div.login .form {
    padding-left: 0;
  }
}

.dev-border {
  border: 1px solid blue;
}

.dash-card {
  border-left: 1px solid #3c7e2d73;
  border-right: 1px solid #3c7e2d73;
  border-top: 1px solid #3c7e2d73;
  border-bottom: 8px solid #3c7e2d73;
  border-radius: 5px;
  padding: 16px;
  background-color: white !important;
}

.dash-text {
  color: #3C7E2D;
  /* font-family: Avenir; */
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.w-90 {
  width: 90% !important;
}

.w-98 {
  width: 98% !important;
}

.w-80 {
  width: 80% !important;
}

.w-50 {
  width: 50% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}


.w-75 {
  width: 75% !important;
}

.w-90 {
  width: 90% !important;
}

.w-60 {
  width: 60% !important;
}

.w-40 {
  width: 40% !important;
}

.flex-60 {
  flex-basis: 60%;
}

.flex-20 {
  flex-basis: 20%;
}

.flex-100 {
  flex-basis: 100%;
}

.flex-98 {
  flex-basis: 98%;
}

.flex-90 {
  flex-basis: 90%;
}

.flex-80 {
  flex-basis: 80%;
}

.flex-50 {
  flex-basis: 50%;
}

.flex-48 {
  flex-basis: 48%;
}

.flex-break {
  flex-basis: 100%;
}



.filter-head {
  border-radius: 5px;
  border: 1px solid #3c7e2d73;
  background: #FFF;
  box-shadow: 1px 2px 11px 0px #CEBDE4;
  padding: 8px;
}

.dash-label {
  display: block;
  margin-bottom: 5px;
}

.label {
  background-color: #EBFFE6;
  padding: 10px;
  width: 200px;
  border: 1px solid #3c7e2d73;
}

.filter-input {
  border-bottom: 2px solid #C1BFBF;
  padding: 16px;
}

.br-b-5 {
  border-bottom: 5px solid #3c7e2d73;
}

.pay-input {
  border-radius: 4px;
  border: 1px solid #3c7e2d73;
  background: #FFF;
  box-shadow: 1px 4px 11px 0px rgba(206, 189, 228, 0.25);
  padding: 16px;
  width: 100%;
}

.pay-input option {
  background-color: #f0f0f0;
  /* Set the background color */
  color: #333;
  /* Set the text color */
  padding: 8px;
  /* Adjust padding as needed */
  border-radius: 4px;
  border: 1px solid #3c7e2d73;
}

textarea {
  width: 100%;
  height: 200px;
  /* box-sizing: border-box; */
  border: 1px solid #3c7e2d73;
  border-radius: 0px 4px 4px 0px;
  resize: none;
  padding: 16px;
  /* Optional: Disable textarea resizing */
}

.label-textarea {
  height: 200px;
  background-color: #EBFFE6;
  padding: 10px;
  color: #3C7E2D;
  border-radius: 4px 0px 0px 4px;
  width: 50.8%;
  border: 1px solid #3c7e2d73;

}

.bordered-table th {
  border: 1px solid #cccccc9c;
  color: white;
  background-color: #737673;
  ;
  margin-bottom: 11px;

  padding: 8px;
  height: 50px;
  text-align: left;
}

.bordered-table td {
  border: 1px solid #cccccc9c;
  padding: 8px;
  height: 50px;
  text-align: center;
  width: auto;
}

.css-13cymwt-control {
  min-width: 200px !important;
}

.bordered-table td:last-child {
  border: 1px solid #cccccc9c;
  padding: 8px;
  height: 50px;
  text-align: center;
  width: auto;
}
.bordered-table-2 th {
  border: 1px solid #cccccc9c;
  color: white;
  background-color: #5050509c;
  margin-bottom: 11px;
  

  padding: 8px;
  height: 50px;
  text-align: left;
}

.bordered-table-2 th:first-child {
  border-radius: 6px 0px 0px 6px;
}

.bordered-table-2 th:last-child {
  border-radius: 0px 6px 6px 0px;
}

.bordered-table-2 td {
  border: 1px solid #cccccc9c;
  padding: 8px;
  height: 50px;
  text-align: center;
  width: auto;
}

.bordered-table-2 td:last-child {
  border: 1px solid #cccccc9c;
  padding: 8px;
  height: 50px;
  border-radius: 0px 6px 6px 0px;
  text-align: center;
  width: auto;
}

.bordered-table-2 td:first-child {
  border: 1px solid #cccccc9c;
  padding: 8px;
  height: 50px;
  border-radius: 6px 0px 0px 6px;
  width: auto;
}

.slim-b {
  height: 30px;
}
.text-area-dim {
  width: 727px;
  height: 124px;
  flex-shrink: 0;
  background: #FFF;

}


.drop-shadow-sm {
  box-shadow: 1px 4px 11px 0px rgba(206, 189, 228, 0.25);
}

.report-table {
  width: 100%;
  border-spacing: 0 8px;
  /* border-collapse: collapse; */
}

.report-table th {
  color: black;
  background-color: transparent;
  margin-bottom: 11px;
  padding: 8px;
  height: 50px;
  text-align: right;
  font-weight: bolder;
}

.report-table td {
  border: 1px solid #cccccc9c;
  padding: 20px;
  height: 50px;
  text-align: left;
  width: auto;
  background-color: white;

}

.report-table td:last-child {
  border: 1px solid #cccccc9c;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 8px;
  height: 50px;
  text-align: center;
  width: auto;
}

.report-table td:first-child {
  border-radius: 6px;
  border: 1px solid #3c7e2d73;
  background: #E8FFDA;
  box-shadow: 1px 4px 11px 0px rgba(206, 189, 228, 0.25);
}

.report-table td:not(:first-child) {
  border: 1px solid #3c7e2d73;
}


.white-bg {
  background-color: white;
}

.green-bg {
  background-color: #3C7E2D;
}

.red-bg {
  background-color: red;
}

.yellow-bg {
  background-color: #FFC700;
}

.view-det-pane {
  border-radius: 4px;
  border: 1px solid #3c7e2d73;
  background: #FFF;
  box-shadow: 1px 4px 11px 0px rgba(206, 189, 228, 0.25);
}

.note-text {
  color: #3C7E2D;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.img-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #3c7e2d73;

}

.bot-bord {
  border-bottom: 1px solid #3C7E2D;
}

.rounded-btn {
  border-radius: 50px;
  border: 1px solid #3c7e2d73;
  background: #E8FFDA;
  padding: 8px;
  box-shadow: 1px 4px 11px 0px rgba(206, 189, 228, 0.25);
  color: #3C7E2D;
  cursor: pointer;
}

.rounded-pill {
  border-radius: 50px;
  padding: 8px;
}

.rounded-btn-left {
  width: 164px;
  height: 35px;
  border-radius: 50px 4px 4px 50px;
  border: 1px solid #3c7e2d73;
}

.bord {
  border: 1px solid #3c7e2d73;
}

.hovers:hover {
  background-color: #E8FFDA !important;
}

.absolute-item {
  position: absolute;
  bottom: -370px;
  left: 0px;
}


.rounded-bg {
  background-color: #F4FBC4;
  border-radius: 50%;
  padding: 10px;
}

.bigger-checkbox {
  width: 30px;
  /* Set the desired width */
  height: 30px;
  /* Set the desired height */
  appearance: none;
  /* Remove default styling for better customization */
  border: 1px solid #4CAF50;
  position: relative;

}

.bigger-checkbox:checked {
  background-color: #4CAF50;
  /* Set the desired background color for checked state */
}

.bigger-checkbox::before {
  content: '\2713';
  /* Unicode character for checkmark */
  font-size: 20px;
  /* Set the desired font size for the checkmark */
  color: #fff;
  /* Set the desired color for the checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.modal-contents {
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  height: auto; 
  max-height: 100%; 
  overflow-y: auto; 
}



.close {
  color: #3c7e2d;
  background-color: #e8ffda;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  border: 1px solid #3c7e2d73;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}


.close:hover {
  background-color: #3C7E2D;
  color: #ffffff;

}

.close:active {
  background-color: #3C7E2D;
  transform: translateY(2px);
  color: #ffffff;
}


.modal-content {
  background: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.3);
}



.tabs {
  border-bottom: 1px solid #3c7e2d73;
  border-top: 1px solid #3c7e2d73;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}

/* Responsive styles */
@media screen and (max-width: 1115px) {
  .tabs {
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: center; /* Center align items horizontally */
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto auto auto;
  
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: auto auto auto auto auto auto; */

}

.tab-item {
  padding: 18px;
  border-right: 1px solid #3c7e2d73;
  cursor: pointer;
  font-weight: normal;

}

.tab-item:last-child {
  border-right: none;
}

.active {
  color: #3C7E2D;

  font-weight: bold;
}

.pilled {
  background-color: #c3f0b8;
  border-radius: 20px;
  padding: 10px;
  outline: 1px solid #3C7E2D;
}

.text-red {
  color: red;
}

.text-gray {
  color: gray;
}

.text-green {
  color: green;
}

.text-white {
  color: white;
}

.overlay-green {
  background: rgba(60, 126, 45, 0.60);
}

.flex-direction-v {
  flex-direction: column;
}

.bg-red {
  background-color: red !important;
}

.gray-bg {
  background-color: #cccccc !important;
}

.tableInput {
  height: 100% !important;
  border: 1px solid #4CAF50;
  width: 100%;

}

.selected-row {
  background-color: #E8FFDA
    /* Change the background color as needed */
}

.gap-1 {
  gap: 1;
}

.gap-2 {
  gap: 2px;
}

.gap-3 {
  gap: 3px;
}

.gap-4 {
  gap: 4px;
}

.gap-5 {
  gap: 5px;
}

.gap-6 {
  gap: 6px;
}

.gap-7 {
  gap: 7px;
}

.gap-8 {
  gap: 8px;
}

.gap-9 {
  gap: 9px;
}

.gap-10 {
  gap: 10px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.border-bottom {
  border-bottom: 1px solid #eeeeee;
}

.outline-box {
  border-bottom: 1px solid #3c7e2d73;
  border-left: 1px solid #3c7e2d73;
  padding: 10px 20px 10px 28px;
  border-right: 1px solid #3c7e2d73;
  border-radius: 0px 0px 6px 6px;
  height: 40px;
}

.outline {
  border: 1px solid;
  height: 100%;
  width: 40px;
  padding: 10px;
  border-radius: 6px;
  background: #d9fcdb;
  color: #17621A;
}

.label-box {
  color: #3C7E2D;
  background-color: #EBFFE6;
  border-bottom: 1px solid #3c7e2d73;
  border-top: 1px solid #3c7e2d73;
  border-left: 1px solid #3c7e2d73;
  border-radius: 4px 0px 0px 4px;
  align-content: center;
  width: 50%;
  height: 40px;
  padding: 2px 16px 2px 16px  ;
}

.dev-border {
  border: 1px solid;
}